<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      WatchKit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">WatchKit</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card style="margin-left:10%; margin-right:10%; font-size: large; --background: var(--ion-color-card);">
    <ion-row style="margin-top: 5%;">
      <ion-col size=4>
        <ion-row>
          <ion-icon name="heart-outline"></ion-icon>
        </ion-row>
        <ion-row>
          <ion-label>{{heartRate}}</ion-label>
        </ion-row>    
    </ion-col>
    <ion-col size=4>
      <ion-row>
        <ion-icon name="footsteps-outline"></ion-icon>
      </ion-row>  
      <ion-row>
        <ion-label>{{cadence}}</ion-label>
      </ion-row>  
    </ion-col>
    <ion-col size=4>
      <ion-row>
        <ion-icon name="walk-outline"></ion-icon>
      </ion-row>  
      <ion-row>
        <ion-label>{{speed}}</ion-label>
      </ion-row>  
    </ion-col>
      <ion-col size=4>
        <ion-row>
          <ion-icon name="flame-outline"></ion-icon>
        </ion-row>  
        <ion-row>
          <ion-label>{{calories}}</ion-label>
        </ion-row>    
      </ion-col>
      <ion-col size=4>
        <ion-row>
          <ion-icon name="timer-outline"></ion-icon>
        </ion-row>  
        <ion-row>
          <ion-label>{{duration}}</ion-label>
        </ion-row>    
      </ion-col>
      <ion-col size=4>
        <ion-row>
          <ion-icon name="map-outline"></ion-icon>
        </ion-row>  
        <ion-row>
          <ion-label>{{totalDistance}}</ion-label>
        </ion-row>    
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
